.constainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    max-width: 1000px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.tituloBusqueda {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.resultados {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}

.listaresultados
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.resultadoBusqueda {
    background-color: #fff;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.resultadoBusqueda:hover {
    background-color: #f2f2f2;
}

.resultadoNombre {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.separador {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border: 1px solid #e6e6e6;
    width: 100%;
}

.resultadoTipoEmpresa {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.resultadoRubro {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.noResultados {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
.filtros {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-bottom: 30px;
}

.filtros h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.filtros form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filtros label {
    font-size: 15px;
    font-weight: 500;
}

.filtros select, .filtros input[type="checkbox"] {
    margin-bottom: 10px;
}

.filtros button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filtros button:hover {
    background-color: #0056b3;
}

.tituloFondo{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.boton-acordeon-pequeno {
    padding: 5px 10px; /* Reduce el relleno */
    font-size: 14px; /* Reduce el tamaño de la fuente */
}

.boton-volver-inicio {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.boton-volver-inicio:hover {
    background-color: #0056b3;
}