.constainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    max-width: 1000px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.tituloBusqueda {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.resultados {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}

.listaresultados
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.resultadoBusqueda {
    background-color: #fff;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.resultadoBusqueda:hover {
    background-color: #f2f2f2;
}

.resultadoNombre {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.separador {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border: 1px solid #e6e6e6;
    width: 100%;
}

.resultadoTipoEmpresa {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.resultadoRubro {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.noResultados {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}