body {
    background-image: url("/static/images/camioncitos.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.error {
    color: red;
    margin-bottom: 15px;
}
#login{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.container{
    display:flex;
    justify-content:center;
    align-items:center;
}