body {
    background-image: url('/static/images/camioncitos.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    align-items: center; /* Centrar verticalmente */
    min-height: 100vh; /* Para ocupar el 100% del viewport */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.content{
    background:#fff;
    padding: 15px;
    border-radius: 10px;
}
.place{
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 10px;
    font-size: 13px;
    outline: none;
}
.titleForm{
    font-weight: 700;
    font-size: 25px;
}
.subtitle{
    font-weight: 500;
    font-size: 15px;
}
.stars {
    display: flex;
    width: 100%;
   /* justify-content: flex-end;*/ /* Para mantener las estrellas a la izquierda */
}
.stard{
    width: 100%;
}
.star {
    cursor: pointer;
    font-size: 30px;
}
.star:hover,
.star:hover ~ .star {
    color: orange;
}
.star.selected,
.star.selected ~ .star {
    color: orange;
}


.listTerms{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.confirmation{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.check{
    text-align: center;
    vertical-align: middle;
}
.bsubmit {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: none;
    cursor: pointer;
}
