<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultados de Búsqueda</title>

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link href="/static/assets/css/login.css" rel="stylesheet" />
    <link href="/static/assets/css/busqueda.css" rel="stylesheet" />
    <title>Mercado Cidere Login</title>
    {% load static %}
    <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/templatemo-mercado-cidere.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}" />

    <script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>

  </head>
  <body>
    <div class="constainer">
      <div class="content">
        <h1 class="tituloBusqueda">Resultados de búsqueda para "{{ query }}"</h1>
        <div class="col-md-12 search">
          <form action="{% url 'resultados' %}" id="form-busqueda" method="post">
              {% csrf_token %}
              <div id="custom-search-input">
                  <div class="input-group">
                      <input id="query" type="text" class="form-control" placeholder="Buscar..." name="query" value="{{source.query}}">
                          <button type="submit" class="boton_buscar" name="submit">
                            <i class="fa-solid fa-magnifying-glass icon"> </i>
                            <span>Buscar</span></button>
                  </div>
              </div>
          </form>
          <div class="col-md-11 p-0">
            <ul class="list-group" id="suggestions">
    
            </ul>
          </div>
        </div>
        <hr class="separador"/>
        <div class="resultados">
            {% if usuarios %}
            <ul class="listaresultados">
              {% for usuario in usuarios %}
              <li class="resultadoBusqueda" >
                <h3 class="resultadoNombre" >{{ usuario.nombre }}</h3>
                <hr class="separador"/>
                <p class="resultadoTipoEmpresa">Tipo de empresa: {{ usuario.tipo_empresa.nombre }}</p>
                <p class="resultadoRubro">Rubros:
                    {% for rubro in usuario.rubros.all %}
                        {{ rubro.nombre }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <p class="noResultados">No se encontraron resultados para "{{ query }}".</p>
            {% endif %}
        </div>
      </div>
    </div>
    <script>
      const buscador = document.getElementById("query");
      buscador.addEventListener("keyup", () => {
        console.log(buscador.value);
        if (buscador.value.length > 0) {
          fetch("{% url 'sugerencias' %}?query=" + buscador.value)
            .then((res) => res.json())
            .then((data) => {
              console.log(data);
              let html = "";
              data.usuarios.forEach((element) => {
                html += `<li class="list-group-item list-group-item-action">${element.nombre}</li>`;
              });
              document.getElementById("suggestions").innerHTML = html;

              // Ahora que los elementos de la lista de sugerencias se han creado, puedes añadir el evento de clic a ellos
              var suggestions = document.querySelectorAll('#suggestions li');
              console.log(suggestions);

              suggestions.forEach(function(suggestion) {
                suggestion.addEventListener('click', function() {
                  console.log(this.innerText);
                  document.getElementById('query').value = this.innerText;
              
                  // Dispara un evento de clic en el botón de envío del formulario
                  document.querySelector('#form-busqueda .boton_buscar').click();
                });
              });
            });
        } else {
          document.getElementById("suggestions").innerHTML = "";
        }
      });
    </script>  
  </body>
</html>
